@{
    ViewBag.Title = "Questions";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    I hope you enjoyed the preamble of this test and that you look forward to pushing on and doing some dev.<br />
    <br />
    As you may have noticed this solution will be your home for the next two hours. You should complete all work in files that are linked to the solution. 
    <ul>
        <li>If a file is not linked to the solution I will not be able to find it when marking the test.</li>
        <li>Follow naming and coding conventions where possible. If you disagree with the convention please make comment.</li>
    </ul>
    When you are complete, or you had enough please do the following:
    <ul>
        <li>Delete all obj and bin folders</li>
        <li>Remove the nuget packages folder</li>
        <li>Please check that the .zip file is as small as possible.</li>
        <li>Email it through to the details on the @Html.ActionLink("Contact", "Contact", "Home") page.</li>
    </ul>
    
    have done all you can do. Zip up the entire directory and email it through to the details on the @Html.ActionLink("Contact", "Contact", "Home") page.
</p>

<p></p>
@Html.ActionLink("On with the show", "Index", "Question",null, new { @class = "btn btn-success" })
