@{
    ViewBag.Title = "Test questions";
}
<h2>@ViewBag.Title.</h2>

<p>
    <h4>
        @Html.ActionLink("Question 1", "Index", "Home")
    </h4>
    In case you missed these, they were on the home page:<br />
    <label class="question">Q</label> 1.1. Update an image on an MVC page.<br />
    <label class="question">Q</label> 1.2. Comment on best practices<br />
    <h4>
        @Html.ActionLink("Question 2", "Index", "Home")
    </h4>
    In case you missed this, it was also on the home page:<br />
    <label class="question">Q</label> 2. Add list items to an MVC page<br />
    <label class="question">Q</label> 2.1. Provide information on other developer software that you use. This helps give an indication of how you work and what you have been exposed to.
    <h4>
        @Html.ActionLink("Question 3", "Question03", "Question")
    </h4>
    Array comparison question:<br />
    <label class="question">Q</label> 3.1. Part 1<br />
    <label class="question">Q</label> 3.2. No Loop<br />
    <h4>
        @Html.ActionLink("Question 4", "Question04", "Question")
    </h4>
    <label class="question">Q</label> 4. FizzBuzz
    <h4>
        @Html.ActionLink("Question 5", "Question05", "Question")
    </h4>
    <label class="question">Q</label> 5.1. Read and display values from a DB<br />
    <label class="question">Q</label> 5.2. Read and display relational data from a DB
    <h4>
        @Html.ActionLink("Question 6", "Question06", "Question")
    </h4>
    <label class="question">Q</label> 6.1. Save values to the DB<br />
    <label class="question">Q</label> 6.2. Validate data before saving it
    <h4>
        @Html.ActionLink("Question 7", "Question07", "Question")
    </h4>
    WebAPI/ Rest service<br/>
    <label class="question">Q</label> 7.1. Read by Id via REST<br />
    <label class="question">Q</label> 7.2. Read All via REST<br />
    <label class="question">Q</label> 7.3. Create via REST<br />
    <label class="question">Q</label> 7.4. Update via REST
    <h4>
        @Html.ActionLink("Question 8", "Question08", "Question")
    </h4>
    Async<br />
    <label class="question">Q</label> 8.1. Disable button when long running task is running<br />
    <label class="question">Q</label> 8.2. Display results to user<br />

</p>
